.navbar{
  display: flex;
  align-items: center;
  padding: 2% 15%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-links{
  display: flex;
  gap: 2.5dvw;
  align-items: center;
}

.navbar-links a{
  text-decoration: none;
  color: #000;
}

.navbar-contents{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #F4F7F0;
  border-radius: 20px;
}

.navbar-buttons {
  display: flex;
  gap: 3dvw;
}

.signin-btn{
  padding: 0.2em 1em;
  border: 1px solid #F99E7C;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
}

.signup-btn{
  padding: 0.5em 1em;
  border: none;
  background-color: #B8CC9C;
  color: #000;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
}

.signup-btn:hover{
  box-shadow: none;
  background-color: #a5b68c;
  transition: all 0.2s ease-in-out;
}

.signin-btn:hover{
  background-color: #F99E7C;
  transition: all 0.2s ease-in-out;
  color: #ffffff;
}

.menu-div{
  display: none;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: center;
  padding: 10px;
  display: none;
  right: 15px;
}

.dropdown-content a{
  text-decoration: none;
  color: #000;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2dvh 0;
  background-color: #F5F5F5;
  margin-top: 20px;
}

.footer-logo-container{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-logo-container p {
  font-weight: 500;
  margin: 0;
}

.footer-links{
  display: flex;
  gap: 8dvw;
  margin-bottom: 25px;
}

.footer-links a{
  text-decoration: none;
  color: #000;
  font-size: 0.9em;
}

.footer-copyright{
  font-size: 0.8em;
  color: #888;
  font-weight: 700;
}

.card{
  text-align: center;
  background-color: #E9EFE0;
  border-radius: 15px;
  padding: 3.1dvh 2dvw;
  width: 25dvw;
  margin-bottom: 20px;
}

.card h2{
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: 700;
}

.card p{
  font-size: 1.1em;
}

@media (max-width: 768px) {
  .navbar-links, .navbar-buttons {
    display: none;
  }
  .menu-div {
    display: block;
  }
  .navbar-contents{
    justify-content: space-between;
    padding: 0px 15px;
  }
  .footer-links{
    gap: 4dvw;
  }
  .card{
    width: 70dvw;
  }
  .card h2{
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: 700;
  }

  .card p{
    font-size: 0.9em;
  }
}